/feladat/input1.txt
/feladat/input2.txt
/feladat/input3.txt
/out/production/MI/Main.class
/MI.iml
/feladat/MI_HF_2020_BN.pdf
/feladat/output1.txt
/feladat/output2.txt
/feladat/output3.txt
*.class
*.log
